{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>PRODUCT DETAILS</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">PRODUCT DETAILS</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


<div class="container w-50 mx-auto p-5 mt-5 text-center fs-5 border border-3 border-dark rounded-4">
<h3>Register</h3>
      <form method="POST">
    {% csrf_token %}
{{form|crispy}}
<div class="mb-3">
    <input type="submit" class="btn btn-primary btn-lg" value="Register">
</div>
    </form>
    </div>
{% endblock %}