{% extends 'base.html' %}
{% block content %}
Search Results

<div class="products-box">
    <div class="container">
        {% if products %}
        <div class="row special-list">
            {% for j in products %}
            <div class="col-lg-3 col-md-6 special-grid best-seller">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <div class="type-lb">
                            <p class="sale">Sale</p>
                        </div>
                        <img src="{{ j.image.url }}" class="img-fluid" alt="Image"
                             style="height:250px; width:250px; object-fit:cover;">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" title="View"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                            </ul>
                            <a class="cart" href="{% url 'shop:productdetail' j.id %}">Details</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>{{ j.name }}</h4>
                        <p>{{ j.description }}</p>
                        <h5>{{ j.price }}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>No Results Found</h2>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
